# dependencies
/node_modules/
/**/node_modules/

# build output
/dist/
/**/dist/
*/dist

# IDE & editors
*/.idea/
/.vscode/
/*.iml

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local


# misc
*.swp
*.swo
/api/.idea/api.iml
/api/.idea/modules.xml
/api/.idea/vcs.xml
/.angular/
/.idea/
