.x-icon {
  position: relative;
  display: inline-block;
  width: var(--size);
  height: var(--size);
}

.x-arm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  border-radius: 999px;
}

.x-arm.base {
  width: 100%;
  height: var(--weight);
  background: var(--color);
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 2;
}

.x-arm.base.rotated {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.x-arm.border {
  width: 100%;
  height: calc(var(--weight) + (var(--border-w) * 2));
  background: var(--border-color);
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
}

.x-arm.border.rotated {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.x-icon:hover,
.x-icon:focus {
  filter: drop-shadow(0 0 3px rgba(0,0,0,.15));
  outline: none;
}
