<app-vertical-split-pane>
  <div left-pane id="passed-left">
    <div [style.height.px]="timelineHeight"></div>
    @for (stream of streams; track stream.id) {
      <app-tag
        [style.height.px]="streamNameHeightPx + streamNamesMarginBetweenPx"
        style="display:block; position: relative"
        [heightPx]="streamNameHeightPx"
        [text]="stream.id" [color]="stream.color"></app-tag>
    }
  </div>
  <div right-pane #timelineRightPane>
    <app-timeline></app-timeline>
  </div>
  @for (stream of streams; track stream.id) {
    <div right-pane>
      <app-stream-timeline [stream]="stream"
                           style="display: block;position: relative; height: 24px">
      </app-stream-timeline>
    </div>
  }
</app-vertical-split-pane>
